<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Coucou Mimie :-){% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
<div class="row">
    <div class="col-sm-3">
        <h2>Menu</h2>
        <ul>
            <li><a href="{{ path("admin_home") }}">Configuration du questionnaire</a></li>
            <li><a href="{{ path("admin_reponses_by_questions") }}">Les réponses reçues / Par Questions</a></li>
            <li><a href="{{ path("admin_reponses_by_questions_stats") }}">Les réponses reçues / Par Questions - Stats</a></li>
            <li><a href="{{ path("admin_reponses_by_questionnaires") }}">Les réponses reçues / Par Questionnaire</a></li>
            <li><a href="{{ path("admin_categorise") }}">Classer des réponses</a> </li>
            <li><a href="{{ path("app_logout") }}">Se déconnecter</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </div>
</div>
</body>
</html>
